[project]
	description = Heat templates for deploying OpenStack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prateek1192
[access "refs/for/refs/*"]
	read = group user/prateek1192
	push = group user/prateek1192
	label-Code-Review = -2..+2 group user/prateek1192
	label-Verified = -1..+1 group user/prateek1192
	rebase = group user/prateek1192
	removeReviewer = group user/prateek1192
	submit = group user/prateek1192
[access "refs/heads/*"]
	read = group user/prateek1192
	create = group user/prateek1192
	push = +force group user/prateek1192
	pushMerge = group user/prateek1192
[access "refs/tags/*"]
	push = group user/prateek1192
	push = +force group user/prateek1192
